


.text-center{
    height: 200px;
    font-size: 60px;
}
.card-img{
    height: 200px;
    object-fit: cover;
}


ol, ul {
	list-style: none;
}
/* body *{
font-size: 18px;
} */
.filter-fields{
    max-height: 300px;
    overflow: auto;
}
.card-title{
    transition: .2s;
}
.card-title:hover{
    color: green;
}
.parameters{
    columns: 2;
}
.content-article{
    columns: 3;
}
.card-list.row-cols-2 .card-img-wrap,
.card-list.row-cols-2 .card-body-wrap{
    width: 100%;
}
.card-list.row-cols-2{
    justify-content: space-between;
}
.card-list.row-cols-2>.card{
    width: 49%;
}
